@use "../../Styleed/Them/Color.scss" as s;
@use "../../Styleed/Them/Font.scss" as y;

.collecter {
     display: grid;
     position: relative;
     top: 5rem;
     left: 18%;
     margin: -40px 0  0 -50px;
     gap: 10px;
     max-width: 800px;
     height: 550px;
     background-color: s.$space-gray;
.greenfild {
          height: 550px;
          width: 250px;
          background-color: s.$green;

          img{
               width: 30px;
               margin-left: 12rem;
               margin-top: 3rem;
          }
        }
}
article {
     gap: 1rem;
    
     margin:  auto;
     max-width: 1200px;
     position: relative;
     justify-content: center;
     align-items: center;
     background-image: linear-gradient(rgb(98, 188, 101, 7%), white);
}
.products{
    width: 600px;
     margin: 0 auto;
     grid-template-columns: 1fr 1fr;
     grid-gap: 1rem;
     margin: auto;
     justify-content: center;
     // background-color: rgb(210, 220, 223);
     padding-top: 2rem;
     padding-bottom: 1rem;
    
  }
.type{
     width: 460px;
     height: 200px;
     text-align: left;
     padding-top: 1rem;
     margin-left: 1rem;
    
     h4 {
          color: s.$green;
          font-family: y.$fontOpenSans;
   
     }
     .free{
          color: s.$darkgrey;
     }

     p {
          color: s.$darkgrey;
          font-family: y.$fontOpenSans;
   
     }
}
a{
     text-decoration: none;
     color: s.$darkgrey;

}
.free{
     background-color: #fff;
     padding: 7px  14px;
     margin-left: 26rem;
     border-radius: 4px;
     border: 10px solid ;
     margin-top: -1rem;
     color: s.$green;
  
}

.clickOnit{
    
    top: 5rem;
}
.sort3{
     width: 260px;
     height: 270px;
     display: grid;
     margin: 0 auto;
     margin-left: 7rem;
     padding-bottom: 1rem;
     grid-template-columns: 1fr 1fr;
    
figure {
     gap: 2rem;
     width: 124px;
     padding: 10px;
     height: 120px;
     font-size: 10px;
     cursor: pointer;
     color: s.$darkgrey;
     align-items: center;
     border-radius: 6px;
     font-family: sans-serif;
     justify-content: center;
     background-color:#fff;
   
  
     
}
  .sortimg {
     width: 40%;
     height: 40%;
  justify-content: center;
    

  }
}

.wave{
     width: 100%;

   }
  


  @media (min-width: 600px) {
    .collecter{ grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 900px) {
    .products { grid-template-columns: repeat(4, 1fr); }
  }
  


//   .containersWrapper {
//      margin: 1rem 20%;
//      display: grid;
//      grid-template-columns: 1fr 1fr;
//      grid-gap: 1rem;
   
//      .containerCard {
//        width: 150px;
//        height: 150px;
//        padding: 1rem;
   
//        img {
//          width: 100%;
//          height: 100%;
//          object-fit: contain;
//          display: block;
//        }
//      }
//      button {
//        margin: 1rem;
//      }
//    }
  

   
   