@use "../../Styleed/Them/Color.scss" as s;
@use "../../Styleed/Them/Font.scss" as y;

.cotainer {
     max-width: 1200px;
     margin: 0 auto;
     display: grid;
     gap: 1rem;
     margin: auto;
     margin-bottom: -0.3rem;
     background-image: linear-gradient(rgb(98, 188, 101, 7%), white);
    
}
.find {
     position: absolute;
     bottom: -4rem;      
     right: 34rem;
     z-index: 1;
     width: 340px;
     height: 120px;
     margin: auto;
     display: grid;
     border-radius: 3px;
     background-color: s.$grey;
     justify-content: space-between;
	padding: 0 2rem;
  
.find1{
          margin-right: 1rem; 
          font-size: 16px;
          margin-top: 1rem;
        }
 
   }
   .dubble{
     display: flex;
     font-size: 12px;
     margin-bottom: 30px;

    .first{
     background-color: s.$green;
     border-radius: 3px;
     color: white;
     padding: 3px 8px;
     border:  none;
     margin-top: 2rem;
     margin-left: 1rem;

     a{
          color: white;

     }

    }
    .secound {
     background-color: s.$green;
     border-radius: 3px;
     color: white;
     padding: 6px 16px;
     border:  none;
     margin-top: 2rem;
     margin-left: 3rem;

      a{
          color: white;

     }
}
   }

.btn {
     border-radius: 3px;
     color: white;
     padding: 5px 7px;
     border:  none;
     margin-top: 1rem;
     cursor: pointer;
     background-color: s.$green;
     
    }
.Thewhite {
     color: s.$green;
     margin-left: 1rem;
     padding: 4px 7px;
     border-radius: 3px;
     cursor: pointer;
     border-color: s.$green;

    }
.lap2{
     width: 290px;
     margin-top: 2rem;
    
}
.lap{
     width: 290px;
     margin-top: 2rem;

}

.guide {
   
     width: 690px;
     height: 350px;
     margin: auto;
     margin-top: 2rem;
     display: flex;
     margin-top: 10rem;
     justify-content: space-between;
     
.nab{
     
     font-family: y.$fontOpenSans;
     color: s.$green;
     font-size: 29px;
     font-weight: light;
     padding-top: 9px;
     position: relative;
    z-index: 1;
    
    &:before {
        border-top: 21px solid rgb(133, 207, 133, .5);
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        bottom: 0;
        width: 54%;
        z-index: -1; 
    
}
}

.para{
     font-family: y.$fontOpenSans;
     color: s.$green;
     padding-top: 10px;
     font-size: 14;
     

}
.btn3 {
     background-color: s.$green;
     border-radius: 3px;
     color: white;
     padding: 5px 7px;
     border:  none;
     margin-top: 1rem;
     
     a{
          color: white; 
     }
    }


.papekase{
     width: 220px;
     height: 290px;
}
.splash{
     width: 320px;
     height: 300px;
}
    
}
.wave{
 width: 100%;
 img{
     margin-top: 1rem;
 }

 }
 
    

   
// @media (min-width: 600px) {
//      .cotainer{ grid-template-columns: repeat(2, 1fr); }
//    }
// @media (min-width: 900px) {
//      .cotainer{ grid-template-columns: repeat(3, 1fr); }
//    }

   
//  .find {
//      bottom: 21rem;
//      right: 56rem;}