@use "../../Styleed/Them/Color.scss" as s;
@use "../../Styleed/Them/Font.scss" as y;


.Myipt {
     margin: 10px;
     width: 320px;
     padding: 10px;
     border-radius: 10px;
     align-items: center;
     justify-content: center;
}
.myform {
     width: 30%;
     height: 60%;
     display: grid;
     margin: 0 auto;
     padding-top: 3rem;
     align-items: center;
     display: inline-block;
     justify-content: center;
     

}

.sb button {
  color: #fff;
  padding: 8px 40px;
  border-radius: 9px;
  margin-top: 1rem;
  background-color: s.$green;
}

.NewOne{
     gap: 1rem;
     height: 400px;
     margin:  auto;
     max-width: 1200px;
     text-align: center;
     align-items: center;
     justify-content: center;
     background-color: s.$HappyTan;
}




  @media (max-width: 600px) {
    .Myipt {
      width: 200px;
    }
    .sb button {
      margin-left: 2rem;
    }
    .myform{ grid-template-columns: repeat(2, 1fr); }
    
   
  }
  @media (max-width: 900px) {
    .myform { grid-template-columns: repeat(4, 1fr); }
  }
  



   
   