@use "../../../../Styleed/Them/Color.scss" as s;
@use "../../../../Styleed/Them/Font.scss" as y;
  
input{
 width: 100%;
}

.sb button{
  color: #fff;
  margin-top: 2rem;
  margin-left: 7rem;
  padding: 6px 28px;
  border-radius: 9px;
  background-color: s.$green;
}

  
  @media (min-width: 600px) {
     .collecter{ grid-template-columns: repeat(2, 1fr); }
   }
   @media (min-width: 900px) {
     .products { grid-template-columns: repeat(4, 1fr); }
   }
  