@use "../../../Styleed/Them/Color.scss" as s;
@use "../../../Styleed/Them/Font.scss" as y;

.protecter {
     display: grid;
     position: relative;
     top: 5rem;
     left: 18%;
     margin: -40px 0  0 -50px;
     gap: 10px;
     max-width: 800px;
     height: 550px;
    
.papair1 {
     display: flex;
     height: 100px;
     max-width: 690px;
     border-radius: 10px;
     background-color: s.$blue;
     
     }
.papair2 {
     display: flex;
     height: 100px;
     max-width: 790px;
     border-radius: 20px;
     background-color: s.$space-gray;
          
     }
.scrumple{
     height:100px;
     margin-left: 39rem;
        
}
.klick{
     color: #fff;
     padding-top: 2rem;
     padding-left: 0.5rem;
     }

}
.pap{
     width: 60px;
     height: 50px;
     border-radius: 10px 0px 0;
     margin-bottom: 5rem; 
}
h3{
     color: s.$darkgrey;
     padding-top: 1rem;
     padding-left: 0.5rem;
}
.wrapper {
     gap: 1rem;
     margin:  auto;
     max-width: 1200px;
     position: relative;
     justify-content: center;
     align-items: center;
     background-color: #fff;
}

a{
     text-decoration: none;
     color: s.$darkgrey;

}

.wave{
     width: 100%;

   }
  


  @media (min-width: 600px) {
    .collecter{ grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 900px) {
    .products { grid-template-columns: repeat(4, 1fr); }
  }
  
  

   