@use "../../../Styleed/Them/Color.scss" as s;
@use "../../../Styleed/Them/Font.scss" as y;

 /* Styling for form container */
.One {

     margin: 20px auto;
     width: 320px;
     
   }
   
  
   label {
     display: block;
     margin-bottom: 1px;
   }
   
  
   input {
     width: 110%;
     padding: 10px;
     margin-bottom: 4px;
     border: 1px solid #ccc;
     border-radius: 1px;
   }
   
   /* Styling for error messages */
.focuse {
     color: red;
     font-size: 12px;
     margin-top: 5px;
   }
.cuteB{
     background-color: #fff;
     padding: 7px  19px;
     margin-left: 25rem;
     border-radius: 4px;
     margin-bottom: 6rem;
     border: 10px solid ;
     color: s.$green;
     font-family: y.$fontOpenSans;
  
}
.NewOne{
  top: -2rem;
  
}

@media  (max-width: 600px) {
  .prducts{ grid-template-columns: repeat(1, 1fr);}
.cuteB{
   margin-left:  16rem;
   margin-bottom: -2rem;

}


}
   