@use "../../../Styleed/Them/Color.scss" as s;
@use "../../../Styleed/Them/Font.scss" as y;
.search-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 1rem;
   
     input {
         display: flex;
         align-items: center;
         padding: 5px;
         border: 1px solid s.$grey;
         box-shadow: 2px;
         border-radius: 40px;
         width: 220px;
         font-family: y.$fontOpenSans;
        }
     button {
          position: absolute;
          margin-top: 0.5rem;
          margin-left: 11rem;
          outline: none;
          border: none;
          border-radius: 50px;
          cursor: pointer;
      
          svg {
            font-size: 13px;
          }
      
          &:hover {
           color: s.$green;
          }
        }
      }
   
   