@use "../../../Styleed/Them/Color.scss" as s;
@use "../../../Styleed/Them/Font.scss" as y;

.googleMap {
     gap: 1rem;
     margin:  auto;
     max-width: 1200px;
     position: relative;
     justify-content: center;
     align-items: center;
     background-image: linear-gradient(rgb(98, 188, 101, 7%), white);

.Map {
     display: grid;
     width: 900px;
     height: 240px;
    
}
.starts {
   
     color: rgb(201, 211, 6);
     
}
textarea{
     width: 50%;
     padding: 3%;
     border-radius: 5px;
    margin-left: 12rem;

}
.star{
     color: s.$darkgrey;
     margin-left: 31rem;
}

.markIt{
     border: 2px solid;
   
}
.lastClick{
     button {
          color: #fff;
          border-radius: 4px;
     padding: 7px 20px;
     margin-left: 21rem;
    margin-top: 1rem;
     background-color: s.$green;
  
}
}
}