@use "../../Styleed/Them/Color.scss" as s;
@use "../../Styleed/Them/Font.scss" as y;


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}


footer {
	max-width: 1200px;
     margin: 0 auto;
     gap: 1rem;
     display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: s.$green;
	height: 130px;
	padding: 0 2rem;
	color: #fff;
 
    
.logo{
	width:350px;
	font-size:13px;

.last-p {
	margin-top: 1rem;

}	
}
}
.FLS {
	color: #fff;
}
.last-p{
	color: #fff;

}
.Flogo {
	margin-right: 1rem;
	margin-top: 5rem;
}


@media (max-width: 600px) {
  footer{ grid-template-columns: repeat(1, 1fr);}
 
.Flogo {
	margin-left: 3rem;
	top: 4rem;
	
}
}
@media (max-width: 900px) {
  footer { grid-template-columns: repeat(3, 1fr); }
}