.card{
    width: 100%;
    height: 200px;
    background-color: bisque;
    color: #fff;
}
.coroousel .slider-wrapper {
     width: 50%;
}

.carousel.thumb{
     width: 50%;
     height: 50px;
     
}
.thumbs {
     visibility: hidden;
}
.carousel {
     text-align: center;
     visibility: hidden;
     position: absolute;
}


